In [4]:
import pandas as pd
import sys
sys.path.append("1_utils")
import functions as fun

In [1]:
cards = """
Urza's Bauble
Armageddon
Kor Haven
Gemstone Mine
Cataclysm
Cabal Therapy
Gaea's Cradle
Cataclysm
Enlightened Tutor
Argivian Find
Lotus Petal
Serra's Sanctum
Elephant Grass
Exploration
Mirri's Guile
Wild Growth
Argothian Enchantress
Sterling Grove
Karmic Justice
Solitary Confinement
Enchantress Presence
Aura of Silence
Anger
Flametongue Kavu
Druid Lyrist
Fyndhorn Elves
Llanowar Elves
Quirion Ranger
Wirewood Symbiote
Priest of Titania
Survival of the Fittest
Tribal Forcemage
Wellwisher
Multani's Acolyte
Caller of the Claw
Uktabi Orangutan
Yavimaya Granger
Spike Feeder
Nantuko Vigilante
Genesis
Deranged Hermit
Biorhythm
Gaea's Craddle
Tangle Wire
Masticore
Gemstone Mine
Lotus Petal
Cabal Therapy
Wordly Tutor
Shallow Grave
Dragon Breath
Hermit Druid
Krosan Reclamation
Elvish Spirit Guide
Sutured Ghoul
Exhume
Flaring Pain
Ghitu Slinger
Sylvan Safekeeper
"""

In [2]:
cards = cards.split("\n")[1:-1]
cards

["Urza's Bauble",
 'Armageddon',
 'Kor Haven',
 'Gemstone Mine',
 'Cataclysm',
 'Cabal Therapy',
 "Gaea's Cradle",
 'Cataclysm',
 'Enlightened Tutor',
 'Argivian Find',
 'Lotus Petal',
 "Serra's Sanctum",
 'Elephant Grass',
 'Exploration',
 "Mirri's Guile",
 'Wild Growth',
 'Argothian Enchantress',
 'Sterling Grove',
 'Karmic Justice',
 'Solitary Confinement',
 'Enchantress Presence',
 'Aura of Silence',
 'Anger',
 'Flametongue Kavu',
 'Druid Lyrist',
 'Fyndhorn Elves',
 'Llanowar Elves',
 'Quirion Ranger',
 'Wirewood Symbiote',
 'Priest of Titania',
 'Survival of the Fittest',
 'Tribal Forcemage',
 'Wellwisher',
 "Multani's Acolyte",
 'Caller of the Claw',
 'Uktabi Orangutan',
 'Yavimaya Granger',
 'Spike Feeder',
 'Nantuko Vigilante',
 'Genesis',
 'Deranged Hermit',
 'Biorhythm',
 "Gaea's Craddle",
 'Tangle Wire',
 'Masticore',
 'Gemstone Mine',
 'Lotus Petal',
 'Cabal Therapy',
 'Wordly Tutor',
 'Shallow Grave',
 'Dragon Breath',
 'Hermit Druid',
 'Krosan Reclamation',
 'Elvish Spirit Guide',
 'Sutured Ghoul',
 'Exhume',
 'Flaring Pain',
 'Ghitu Slinger',
 'Sylvan Safekeeper']

In [20]:
cards = list(set(cards))

In [25]:
prices = pd.DataFrame()
for card in cards:
    df = fun.search_card(name=card.lower())
    prices = pd.concat([prices, df])

In [26]:
prices

                      name cardset    rarity  foil  20241018
17600   Krosan Reclamation     JUD  Uncommon     0     0.010
17601   Krosan Reclamation     JUD  Uncommon     1     0.010
17606              Genesis     JUD      Rare     0     0.070
17607              Genesis     JUD      Rare     1     0.060
33310              Genesis     TD0      Rare     0     0.020
...                    ...     ...       ...   ...       ...
54709    Priest of Titania     C14    Common     0     1.130
125645   Priest of Titania     MH3  Uncommon     0     0.030
125646   Priest of Titania     MH3  Uncommon     1     0.003
125983   Priest of Titania     MH3  Uncommon     0     0.003
125984   Priest of Titania     MH3  Uncommon     1     0.005

[289 rows x 5 columns]

In [27]:
prices = prices[prices["foil"]==0].drop(["rarity", "foil"], axis=1).rename(columns={"20241018": "price"}).sort_values("name")
prices

                     name cardset  price
43750               Anger     DDI  0.100
126957              Anger     M3C  0.004
112774              Anger     LTC  0.600
70317               Anger     UMA  0.090
59077               Anger     PZ1  0.040
...                   ...     ...    ...
28922   Wirewood Symbiote     EVG  0.060
60957   Wirewood Symbiote     EMA  0.040
125987  Wirewood Symbiote     MH3  0.003
18878   Wirewood Symbiote     SCG  0.070
12693    Yavimaya Granger      UL  0.002

[160 rows x 3 columns]

In [30]:
prices.to_excel("prices.xlsx", index=True)